.aboutMe{
    background-color: #171612;
    min-height: calc(105vh - 4rem);
    margin: 0;
    display: flex;
    flex-direction: row;
    flex : 1;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #9FF9CA;
    padding-bottom: 5vh;
    width: 100%;

}
.TextContainer{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    position: relative;
    height: auto;
}

.columnText{
    height: 500px;
}

.Text{
    padding-left: 3vh;
    font-size: 3vh;
    width: 80%;

}
.Image{
    border-radius: 800px;
    padding: 5vh;
    max-height: 400px;
}



@media screen and (max-width: 800px){
    .Image{
        width: 150px;
        height: 150px;
        padding: 1vh;
    }
    .Text {
        width: 80%;
        font-size: 2vh;
    }
    .aboutMe{
        background-color: #171612;
        min-height: calc(75vh - 4rem);
        padding-bottom: 3vh;
    }

}