.ContactContainer {
    min-height: calc(100vh - 4rem);
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: calc(10px + 2vmin);

}
.ContactTitle{
    font-size : 3rem;
    margin-bottom : 1.5rem;
}
.ContactText{
    display: flex;
    align-items: center;
    justify-content: center;

}
.ContactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 60vw;

}
.name, .email{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
}
.msg{
    font-size: large;
    width: 100%;
    max-width: 40rem;
    max-height: 60rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
}

.CV{
    display: flex;
    border-radius: 1.5rem;
    font-size: 32px;
    height: 5rem;
    width: 5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    border: none;
    cursor: pointer;
    transition: color 0.6s;
}


.Submit{
    font-size: large;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    margin: 2rem;
    transition: all 0.3s ease; /* Ajoute une transition pour tous les changements de style */
}

.Submit:active {
    transform: translateY(2px); /* Légère animation de clic */
    animation: changeBackground 0.3s; /* Animation de changement de couleur de fond pendant 2 secondes */
}
