

.formationContainer{
    flex : 1;
    background-color: #171612;
    min-height: calc(100vh - 4rem);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: #9FF9CA;
    align-items: flex-start;
}
.formationDivWidth{
    width: 80%;
    flex-direction: row;
}

.formationTitle{
    padding: 10px;
}

.formationDiv{
    padding: 5px;
    flex-direction: column;
}