.Intro {
    min-height: calc(120vh - 4rem);
    margin: 0 auto;
    display: flex;
    font-size: calc(10px + 2vmin);
    width: 80%;

}
.TextContaint{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.IntroText{
    padding-left: 3vh;
    font-size: 3vh
}

.IntroText, .Name {
  animation: fadeIn 2s ease-out forwards;
  opacity: 0; 
}
.Name{
    padding-left: 3vh;
    font-size: 6vh
}

.ImageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    animation: fadeSide 2s ease-out forwards;

}

@keyframes fadeSide {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
    
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 800px){
    .Image{
        width: 200px;
    }
    .Name{
        padding-left: 2vh;
        font-size: 4vh;
    }
    .IntroText{
        padding-left: 2vh;
        font-size: 3vh;
    }
    
}