.Projects {
    min-height: calc(95vh - 4rem);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    font-size: calc(10px + 2vmin);
}

.Container1, .Container2 {
    position: relative;
}

.ProjectImage {
  opacity: 1;
  display: flex;
  object-fit: cover;
  max-height: 20rem;
  max-width: 20rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ProjectImageContainer {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}


a {
    color: darkturquoise;
    font-weight: bold;
    font-size: 20px;
    cursor: default;
}

.middle {
    display: flex;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 75%;
    position: fixed;
    transform: translate(-50%, -50%); /* Ajout pour centrer le pop-up */
    font-size: 10px;
    padding: 35px 35px;
    border-radius: 10px;
    z-index: 100;
    transition: opacity 0.3s ease;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998; /* Doit être inférieur à celui du pop-up */
    opacity: 0; /* Initialisation de l'opacité à 0 */
    transition: opacity 0.3s ease; /* Ajout de la transition */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px; /* Taille de la croix */
    font-weight: bold;
    cursor: pointer;
}

.text{
    font-size: 19px;
    align-items: center;
    align-content: center;
    animation: fadeIn 0.5s ease-out forwards;

}

/* Lorsque le pop-up est ouvert, on augmente l'opacité de l'overlay à 1 */
.Container:hover .middle, .middle {
    opacity: 1;
}

/* Lorsque le pop-up est ouvert, on augmente l'opacité de l'overlay à 1 */
.Container:hover .popup-overlay, .popup-overlay {
    opacity: 1;
}

/* Ajout de la règle hover pour les images */
.Container:hover .ProjectImage {
    opacity: 0.5;
}

/* Ajout de la règle hover pour afficher le pop-up */
.Containe1:hover .middle, .middle {
    opacity: 1;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 800px) {
    .ProjectImage {
        height: 20rem;
        max-width: 22rem;
    }

    .ProjectImageContainer {
        width: 90%;
        max-width: 80rem;
    }

    .ProjectImage {
        width: 95%;
    }

    .text{
        font-size: 14px;
    }
    .middle {
        width: 85%;
        height: 65%;
        padding: 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 522px) {

    .text{
        font-size: 11px;
    }


}

