#works {
    background-color: #171612;
    min-height: calc(95vh - 4rem);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    font-size: calc(10px + 2vmin);
    color: #9FF9CA;
}

.Container1, .Container2 {
    position: relative;
}

.ProjectImage1, .ProjectImage2 {
    opacity: 1;
    display: flex;
    object-fit: cover;
    max-height: 30rem;
    max-width: 50rem;
    margin: 0.5rem;
    cursor: pointer; /* Ajout pour pointer le curseur au survol */
}

.ProjectImageContainer {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

a {
    color: darkturquoise;
    font-weight: bold;
    font-size: 20px;
    cursor: default;
}

.middle {
    background-color: whitesmoke;
    display: flex;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 65%;
    position: fixed;
    transform: translate(-50%, -50%); /* Ajout pour centrer le pop-up */
    color: black;
    font-size: 16px;
    padding: 35px 35px;
    border-radius: 10px;
    z-index: 100;
    transition: opacity 0.3s ease;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur noire semi-transparente */
    z-index: 998; /* Doit être inférieur à celui du pop-up */
    opacity: 0; /* Initialisation de l'opacité à 0 */
    transition: opacity 0.3s ease; /* Ajout de la transition */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px; /* Taille de la croix */
    font-weight: bold;
    cursor: pointer;
    color: #000; /* Couleur de la croix */
}

.text{
    font-size: 21px;
}

/* Lorsque le pop-up est ouvert, on augmente l'opacité de l'overlay à 1 */
.Container1:hover .middle, .Container2:hover .middle {
    opacity: 1;
}

/* Lorsque le pop-up est ouvert, on augmente l'opacité de l'overlay à 1 */
.Container1:hover .popup-overlay, .Container2:hover .popup-overlay {
    opacity: 1;
}

/* Ajout de la règle hover pour les images */
.Container1:hover .ProjectImage1, .Container2:hover .ProjectImage2 {
    opacity: 0.5;
}

/* Ajout de la règle hover pour afficher le pop-up */
.Container1:hover .middle, .Container2:hover .middle {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .ProjectImage {
        height: 20rem;
        max-width: 22rem;
    }

    .ProjectImageContainer {
        width: 90%;
        max-width: 80rem;
    }

    .ProjectImage1, .ProjectImage2 {
        width: 95%;
    }

    .text{
        font-size: 14px;
    }

    .middle {
        width: 80%;
        height: 60%;
        padding: 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 522px) {

    .text{
        font-size: 11px;
    }


}

