.Skills {
    background-color: #171612;
    min-height: calc(100vh - 4rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: #9FF9CA;
    width: 80%;
    animation: fadeIn 0.5s ease-out forwards;

}
.ImageSkills{
    height: 100px;
    width: 100px;
    align-self: center;
}

.Titles{
    text-align: left;
    font-weight: bold;
    font-family: Gabriola, serif;
    text-decoration: lightgrey underline;
    padding: 0.25rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}