.App {
  text-align: center;
  background: #171612;
  overflow: auto;
  width: 100%;
  overflow-y: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body.dark-mode .Projects,
body.dark-mode .App-header,
body.dark-mode .App,
body.dark-mode .Intro,
body.dark-mode .aboutMe,
body.dark-mode .TextContainer,
body.dark-mode .formationContainer,
body.dark-mode .Skills,
body.dark-mode .Contact,
body.dark-mode .ContactForm,
body.dark-mode .ContactText,
body.dark-mode .ContactContainer,
body.dark-mode .NavBar,
body.dark-mode .Section,
body.dark-mode .IntroText,
body.dark-mode .Name,
body.dark-mode .ImageContainer,
body.dark-mode .Image,
body.dark-mode .Text,
body.dark-mode .TextContaint,
body.dark-mode .CV,
body.dark-mode .middle,
body.dark-mode .ProjectImageContainer,
body.dark-mode .SectionContainer,
body.dark-mode .nav__menu {
  background-color: #1e1e1e;
  color: white;
}

body.dark-mode .SectionContainer .Section,
body.dark-mode .nav__menu .NavBar li {
  color: white;
}

.App-header {
  background-color: #171612;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #9FF9CA;
}

.App-link {
  color: darkgreen;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
